<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="reportPortal"
			type="ReportPortal.SpecFlowPlugin.ReportPortalSection, ReportPortal.SpecFlowPlugin, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
	</configSections>
	<reportPortal enabled="true">
		<server url="https://rp.epam.com/api/v1/" project="default_project">
			<authentication username="default" password="aa19555c-c9ce-42eb-bb11-87757225d535"/>
		</server>
		<launch name="SpecFlow Demo Launch" debugMode="true" tags="t1,t2"/>
	</reportPortal>
</configuration>